<div class="container bg-dark border-right  ">
    <h3 class="text-light">{{ preguntaActual.pregunta }}</h3>
    <p class="text-light">Tiempo restante: {{ tiempoRestante }} segundos</p>
    <hr class="text-white">
    <div class="list-group list-reset">
      <!-- <h3 class="text-light">{{ preguntaActual.pregunta }}</h3> -->
      <ng-container *ngFor="let respuesta of preguntaActual.respuestas">
        <a href="#" class="list-group-item list-group-item-action" (click)="seleccionarRespuesta(respuesta)">{{ respuesta }}</a>
      </ng-container>
      <button class="">Ver puntuacion</button>
      <!-- <a *ngIf="finalizado" href="#" class="list-group-item list-group-item-action"  [routerLink]="['/fin-trivia']">ver puntuacion</a> -->
    </div>
  </div>